<div class="row">
  <div class="col-md-9 col-xs-12">
    <% unless @reading_logs.empty? %>
  <!--   <table class="table table-striped">
      <thead>
        <tr>
          <th>Book Title</th>
          <th>Author</th>
          <th>Reading Date</th>
          <th>Duration (min)</th>
          <th>Notes</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @reading_logs.each do |log| %>
        <tr>
          <td><%= log.title %></td>
          <td><%= log.author%></td>
          <td><%= log.reading_date %></td>
          <td><%= log.duration_in_min %></td>
          <td><%= truncate(log.note, length: 100) %></td>
          <td><%= link_to "Show", [current_user, log] %></td>
          <td><%= link_to "Edit", [:edit, current_user, log] %></td>
          <td><%= link_to "Delete", [current_user, log], method: :delete,
                                    data: {confirm: "Are you sure?" } %></td>
        </tr>
        <% end %>      
      </tbody>
    </table> -->

    <section>
      <ul class="log-list">

      <% @reading_logs.each do |log| %>
        <li class="log<%= log.id %> ">
          <ul>
            <li><strong><%= log.title %></strong> by <%= log.author %></li>
            <li class="text-right small"><%= log.reading_date %> | <%= log.duration_in_min %> minutes</li>
            <li><hr></li>
            <li class="note"><em><%= truncate(log.note, length: 100) %></em></li> 
            <li class="text-right small">

              <%= link_to "Edit This Log", [:edit, current_user, log] %> | <%= link_to "Delete", [current_user, log], method: :delete, data: {confirm: "Are you sure?" } %>

              <span class="rating" data-id="<%= log.id %>"><i class="fa fa-star icon-a"></i><i class="fa fa-star-o"></i><i class="fa fa-star" data-star="3"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span>                                                    
            </li>
            <li class="book-thum" data-id="<%= log.id %>" data-title="<%= log.title %>" data-author="<%= log.author %>">
              
            </li>
      
          </ul>
        </li>
      <% end %> 

      </ul>
    </section>

    <% else %>
    <div class="alert alert-danger message-font text-center" role="alert">No Reading Log Yet</div>
    <br>
    <% end %>
    
    <%= link_to "New Reading Log", new_user_reading_path(current_user), clas: "btn btn-primary link" %>
    <%= content_tag :div, "", id: "chart", data: {logs: @reading_logs} %>
  </div>

  <div class="col-md-3 col-xs-12 text-center">
    <h4>My Friends</h4>
    <hr class="style-one">
    <% @friends.each do |friend| %>
      <div class="friend_name">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-user-secret fa-stack-1x"></i>
        </span>      

        <%= link_to friend.full_name, friendship_path(current_user.current_friendship(friend)) %>
     
        <%= link_to "Unfollow", friendship_path(current_user.current_friendship(friend)), method: :delete, data: {confirm: "Are you sure?"}, class: "btn-unfollow" %>

    <% end %>
  </div>
</div>