<div class="col-xs-12 col-md-10 col-md-offset-1">
  <div>
    <h2 class="show-header">Showing <%= "#{@reading_log.user.full_name}'s Reading Details" %></h2>
  </div>

  <div class="col-xs-12 col-md-10 well member">
    <div class="col-xs-4">
      <strong>Book Title:</strong>
    </div>
    <div class="col-xs-8 text-right">
      <%= @reading_log.title %>
    </div>
  </div>


  <div class="col-xs-12 col-md-10 well member">
    <div class="col-xs-4">
      <strong>Author:</strong>
    </div>
    <div class="col-xs-8 text-right">
      <%= @reading_log.author %>
    </div>
  </div>

  <div class="col-xs-12 col-md-10 well member">
    <div class="col-xs-4">
      <strong>Reading Note:</strong>
    </div>
    <div class="col-xs-8 text-right">
      <%= truncate(@reading_log.note, length: 50) %>
    </div>
  </div>

  <div class="col-xs-12 col-md-10 well member">
    <div class="col-xs-4">
      <strong>Reading Date:</strong>
    </div>
    <div class="col-xs-8 text-right">
      <%= @reading_log.reading_date %>
    </div>
  </div>

  <div class="col-xs-12 col-md-10 well member">
    <div class="col-xs-4">
      <strong>Duration (min):</strong>
    </div>
    <div class="col-xs-8 text-right">
      <%= @reading_log.duration_in_min %>
    </div>
  </div>

  <div class="col-xs-12 col-md-10 member">
    <%= link_to "Back", user_readings_path(current_user) %>
  </div>
</div>