
    <p id="notice"> <%= notice %></p>
    <h1><%= @friend.full_name %>'s Reading Log</h1>

  <!--   <table class="table table-striped">
      <thead>
        <tr>
          <th>Book Title</th>
          <th>Author</th>
          <th>Reading Date</th>
          <th>Duration (min)</th>
          <th>Notes</th>
          <!-- <th colspan="3"></th> -->
      <!--   </tr>
      </thead>
      <tbody>
        <% @logs.each do |log| %>
          <tr>
            <td><%= log.title %></td>
            <td><%= log.author%></td>
            <td><%= log.reading_date %></td>
            <td><%= log.duration_in_min %></td>
            <td><%= truncate(log.note, length: 100) %></td>
          </tr>
        <% end %>      
      </tbody> -->

    <section>
      <ul class="log-list">

      <% @logs.each do |log| %>
        <li class="log<%= log.id %> ">
          <ul>
            <li><strong><%= log.title %></strong> by <%= log.author %></li>
            <li class="text-right small"><%= log.reading_date %> | <%= log.duration_in_min %> minutes</li>
            <li><hr></li>
            <li class="note"><em><%= truncate(log.note, length: 100) %></em></li>
            <li class="text-right small">
              <span class="rating" data-id="<%= log.id %>"><i class="fa fa-star icon-a"></i><i class="fa fa-star-o"></i><i class="fa fa-star" data-star="3"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span>
            </li>
            <li class="book-thum" data-id="<%= log.id %>" data-title="<%= log.title %>" data-author="<%= log.author %>"></li>
          </ul>
          <ul>
            <li>
              Comments: 
            </li>
          </ul>
        </li>
      <% end %>

      </ul>
    </section>

      <p>
        <%= content_tag :div, "", id: "chart", data: {logs: @logs} %>    
      </p>
      <p><%= link_to "Back", user_readings_path(current_user), class: "btn btn-primary link" %></p>

    
  